@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

#navbar-mobile {
  display: none;
  width: 100vw;
  flex-wrap: wrap;
  background: #292929
}

#navbar-mobile-head {
  background: #292929;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding-top: 10px
}

#navbar-mobile-head-text {
  text-transform: uppercase;
  color: #ed3c43;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 10vw;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, .1), 0 10px 10px rgba(0, 0, 0, .02)
}

#navbar-mobile-head-hamburger {
  padding-top: 20px;
  margin-right: 10vw
}

#navbar-mobile-container {
  position: absolute;
  flex-basis: 100%;
  width: 100%;
  height: 100vh;
  top: -110vh;
  z-index: 999;
  transition: top .7s ease-in-out;
  background: #292929;
  justify-content: space-evenly
}

#navbar-mobile-container.visible {
  top: 50px
}

#navbar-mobile-container #navbar-mobile-links {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%
}

#navbar-mobile-container #navbar-mobile-links.move-down {
  bottom: 25px
}

#navbar-mobile-container #navbar-mobile-links .navbar-mobile-link {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
  color: #fff
}

#navbar-mobile-container #navbar-mobile-links .navbar-mobile-link.logout {
  color: #ff5f5f
}

#navbar-mobile-container #navbar-mobile-links .navbar-mobile-link:active {
  background: rgba(0, 0, 0, .3);
  color: unset
}

#navbar-mobile-container #navbar-mobile-account {
  padding: 20px 0;
  background: rgba(0, 0, 0, .3);
  width: 100%;
  text-align: center;
  margin-top: 10%
}

#navbar-mobile-container #navbar-mobile-account>* {
  display: inline-block;
  vertical-align: middle
}

#navbar-mobile-container #navbar-mobile-account-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat
}

#navbar-mobile-container #navbar-mobile-account-details-discriminator {
  font-size: 12px;
  color: #a3a3a3;
  text-align: left
}

#navbar-links {
  padding-top: 20px
}

#navbar-links .navbar-link {
  display: inline-block;
  list-style-type: none
}

#navbar-links .navbar-link a {
  font-size: 20px;
  color: #fff
}

#navbar-links .navbar-link a.active {
  position: relative;
  color: #ed3c43
}

#navbar-links .navbar-link a:hover:not(.active) {
  color: #ea8c91
}

#navbar-links .navbar-link:not(:last-child) {
  margin-right: 20px
}

#navbar-links .navbar-link #navbar-account {
  position: relative
}

#navbar-links .navbar-link #navbar-account-name {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px
}

#navbar-links .navbar-link #navbar-account-name:hover {
  cursor: pointer
}

#navbar-links .navbar-link #navbar-account-chevron {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px
}

#navbar-links .navbar-link #navbar-account-chevron svg {
  transition: transform .2s cubic-bezier(.455, .03, .515, .955)
}

#navbar-links .navbar-link #navbar-account-chevron.active svg {
  transform: rotate(180deg)
}

#navbar-links .navbar-link #navbar-account-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background: #1a1a1a;
  max-width: max-content;
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  z-index: 99999
}

#navbar-links .navbar-link #navbar-account-dropdown.active {
  display: flex;
  flex-wrap: wrap;
  animation: dropdownOpen .5s cubic-bezier(.175, .885, .32, 1.275) both
}

#navbar-links .navbar-link #navbar-account-dropdown-account {
  white-space: nowrap
}

#navbar-links .navbar-link #navbar-account-dropdown-account-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle
}

#navbar-links .navbar-link #navbar-account-dropdown-account-details {
  display: inline-block;
  vertical-align: middle
}

#navbar-links .navbar-link #navbar-account-dropdown-account-details-username {
  font-size: 16px
}

#navbar-links .navbar-link #navbar-account-dropdown-account-details-discriminator {
  font-size: 12px;
  color: #a3a3a3
}

#navbar-links .navbar-link #navbar-account-dropdown-actions {
  margin-top: 10px;
  display: block
}

#navbar-links .navbar-link #navbar-account-dropdown-actions>* {
  font-size: 15px;
  cursor: pointer;
  display: block
}

#navbar-links .navbar-link #navbar-account-dropdown-actions>* span {
  margin-right: 5px
}

#navbar-links .navbar-link #navbar-account-dropdown-actions-logout {
  margin-top: 5px;
  transition: color .1s ease-in-out
}

#navbar-links .navbar-link #navbar-account-dropdown-actions-logout:hover {
  color: #ff5f5f
}

@keyframes slideNav {
  0% {
    transform: translateY(-100vh)
  }

  to {
    transform: translateY(0)
  }
}

@keyframes dropdownOpen {
  0% {
    transform: rotateX(-100deg);
    opacity: 0
  }

  to {
    transform: rotateX(0deg);
    opacity: 1
  }
}

@media only screen and (max-width:550px) {
  #navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  #navbar-links {
    display: none
  }
}

footer {
  background: #1e1e1e;
  z-index: 998;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 100vw
}

footer #footer-content {
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 6%;
  box-sizing: border-box
}

footer #footer-content, footer #footer-left {
  display: flex;
  align-items: center
}

footer #footer-left #footer-logo {
  width: 100px;
  margin-right: 20px
}

footer #footer-left #footer-title {
  margin: 0;
  font-weight: 700
}

footer #footer-left #footer-copyright {
  color: #cecece;
  font-weight: 500
}

footer #footer-links .footer-links-col {
  display: inline-block;
  vertical-align: middle
}

footer #footer-links .footer-links-col:not(:last-child) {
  margin-right: 60px
}

footer #footer-links .footer-links-col .footer-link {
  display: block;
  margin-bottom: 5px;
  color: #b5b5b5;
  transition: color .1s ease-in-out;
  font-weight: 500
}

footer #footer-links .footer-links-col .footer-link:hover {
  color: #fff
}

@media only screen and (max-width:929px) {
  footer #footer-content {
    padding: 20px 0;
    display: grid;
    justify-content: space-evenly;
    align-content: center
  }

  footer #footer-content #footer-left {
    margin-bottom: 20px;
    display: flex;
    justify-content: center
  }

  footer #footer-content #footer-left #footer-logo {
    width: 50px
  }

  footer #footer-content #footer-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 10px
  }
}

@media only screen and (max-width:385px) {
  footer #footer-content {
    padding: 20px 0;
    display: grid;
    justify-content: space-evenly;
    align-content: center
  }

  footer #footer-content #footer-left {
    margin-bottom: 20px;
    display: flex;
    justify-content: center
  }

  footer #footer-content #footer-left #footer-logo {
    width: 50px
  }

  footer #footer-content #footer-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 10px
  }

  footer #footer-content #footer-links>* {
    font-size: 14px;
    margin-right: unset !important
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none
}

body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #292929;
  font-family: Inter, sans-serif
}

body a {
  text-decoration: none
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Montserrat
}

body #ree-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(255, 0, 0, .5);
  pointer-events: none
}

body #ree-overlay.reeing {
  opacity: .4
}

body #discord--login {
  background: #7289da;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  min-width: 80%;
  transition: background-color .17s ease
}

body #discord--login svg {
  margin-right: 10px
}

body #discord--login:hover {
  background: #677bc4
}

body .content {
  font-family: Lato, sans-serif;
  padding: 10px;
  flex: 1 0 auto
}

body #pseudoBody {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 40px);
  max-width: 100vw;
  color: #fff
}

body .nitropay {
  margin: 5vh auto
}

body .blurple {
  color: #7289da
}

body .pepple {
  color: #598e3c
}

body .text-highlight {
  color: #ed3c43;
  font-weight: inherit
}

body #bottom-cta {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 10vh 0
}

body #bottom-cta-subtitle {
  font-size: 18px
}

body #bottom-cta-button {
  display: block;
  width: 180px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  background: #ed3c43;
  color: #fff;
  margin: 20px 0;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(237, 60, 67, .5), inset 0 0 20px rgba(234, 0, 11, .3);
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
  box-sizing: border-box
}

body #bottom-cta-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(237, 60, 67, .7), inset 0 0 20px rgba(234, 0, 11, .3)
}

body #bottom-cta-text {
  font-family: Inter, sans-serif
}

body #bottom-cta-text a {
  font-weight: 400
}

body #bottom-cta-text a:hover {
  text-decoration: underline
}

@media only screen and (max-width:454px) {
  body #bottom-cta {
    width: 80vw;
    margin: 5vh auto;
    text-align: center
  }
}
